
<ion-content>
  <ion-grid>
    <!--    Site Card -->
    <ion-row>
      <ion-col>
        <ion-card class="myCard">
          <img [src]="site.bgImage" class="bannerImage"/>
          <div class="myOverlay">
            <ion-grid>
              <ion-row>
                <ion-col size="3">
                  <ion-avatar class="avatar-radius">
                    <img [src]="site.avatarImage"/>
                  </ion-avatar>
                </ion-col>
                <ion-col>
                  <ion-card-title>
                    <b>{{site.name}}</b>
                  </ion-card-title>
                  <br/>
                  <ion-card-subtitle>
                    {{site.location}}
                  </ion-card-subtitle>
                </ion-col>
              </ion-row>
              <br/>
            </ion-grid>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <!--    Acciones -->
    <ion-row>
      <ion-col>
        <ion-list>
          <!--          Modificar Información -->
          <ion-item lines="none">
            <ion-button size="large"
                        color="dark"
                        fill="clear"
                        (click)="openEditInfo()">
                        <ion-icon name="build-outline"></ion-icon> &nbsp;
                        <ion-label style="font-size: small;">Editar información</ion-label>
            </ion-button>
          </ion-item>
          <!--          Modificar Perfil -->
          <ion-item lines="none">
            <ion-button size="large"
                        color="dark"
                        fill="clear"
                        (click)="openEditProfile()">
                        <ion-icon name="person-circle-outline"></ion-icon> &nbsp;
                        <ion-label style="font-size: small;">Editar perfil</ion-label>
            </ion-button>
          </ion-item>
          <!--          Modificar Contraseña-->
          <ion-item lines="none">
            <ion-button size="large" color="dark" fill="clear" (click)="openEditPassword()">
              <ion-icon name="lock-closed-outline"></ion-icon> &nbsp;
              <ion-label style="font-size: small;">Seguridad</ion-label>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row style="padding-top: 100px;"> 
      <ion-col></ion-col>
      <ion-col size="7">
        <ion-button color="dark" fill="outline" expand="block" (click)="logOut()">
          Cerrar sesión
        </ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
