<ion-header no-border="true" translucent>
  <ion-toolbar>
    <ion-button fill="clear" slot="start" (click)="cerrarModal()" color="danger">
      Cancelar
    </ion-button>
    <ion-title>Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!--  imagen-->
    <ion-row>
      <ion-col>
        <ion-card align="center">
          <ion-card-header>
            <ion-text color="dark" style="font-size: large;">
              Imagen Promocional
            </ion-text>
          </ion-card-header>
          <ion-card-title>
            <ion-img [src]="bannerImage" class="bannerImage"></ion-img>
          </ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>

    <!--  Nombre-->
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="10">
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input readonly="true" placeholder="Nombre de Evento" [(ngModel)]="name"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <!-- Dirección-->
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="10">
        <ion-item>
          <ion-label position="stacked">Dirección</ion-label>
          <ion-textarea [(ngModel)]="address" readonly="true"></ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <!--  Descripción-->
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="10">
        <ion-item>
          <ion-label position="floating"> Descripción</ion-label>
          <ion-textarea readonly="true"
                        [(ngModel)]="description"></ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <!--  Fecha y hora inicio-->
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="10">

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label> Fecha Inicio: {{fechaInicio}}</ion-label>
<!--              <ion-datetime displayFormat="DD-MM-YYYY" min="2020" max="2120" [(ngModel)]="fechaInicio" placeholder="Fecha Inicio"></ion-datetime>-->
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label> Hora Inicio: {{horaInicio}}</ion-label>
<!--              <ion-datetime displayFormat="HH:mm" [(ngModel)]="horaInicio" placeholder="Hora Inicio"></ion-datetime>-->
            </ion-item>
          </ion-col>
        </ion-row>

      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <!--  Fecha y hora fin-->
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="10">

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label> Fecha Fin: {{fechaFin}}</ion-label>
<!--              <ion-datetime displayFormat="DD-MM-YYYY" min="2020" max="2120" [(ngModel)]="fechaFin" placeholder="Fecha Fin"></ion-datetime>-->
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label> Hora Fin: {{horaFin}}</ion-label>
<!--              <ion-datetime displayFormat="HH:mm" [(ngModel)]="horaFin" placeholder="Hora Fin"></ion-datetime>-->
            </ion-item>
          </ion-col>
        </ion-row>

      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <!--  Botón-->
<!--    <ion-row>-->
<!--      <ion-col></ion-col>-->
<!--      <ion-col size="6">-->
<!--        <ion-button color="dark" expand="block" fill="outline" (click)="updateEvent()"> Actualizar </ion-button>-->
<!--      </ion-col>-->
<!--      <ion-col></ion-col>-->
<!--    </ion-row>-->
  </ion-grid>
</ion-content>
