<ion-content [fullscreen]="true">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col size="6">
            IMAGEN
          </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col></ion-col>
          <ion-col size="10">
            <ion-text>
              BIENVENIDO A JALAS
            </ion-text>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col size="6">
            IMAGEN
          </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col></ion-col>
          <ion-col size="10">
            <ion-text>
              Tendrás una experiencia de navegación personalizada a través de la app.
            </ion-text>
          </ion-col>
          <ion-col></ion-col>
        </ion-row><ion-row>
          <ion-col></ion-col>
          <ion-col size="10">
            <ion-text>
              ¿ JALAS ?
            </ion-text>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col size="6">
            IMAGEN
          </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col></ion-col>
          <ion-col size="10">
            <ion-text>
              Somos el amigo que te contará sobre los lugares que te gustan para salid con tus amigos... Hasta te podemos decir en donde podría ser esa primer cita.
            </ion-text>
          </ion-col>
          <ion-col></ion-col>
        </ion-row><ion-row>
        <ion-col></ion-col>
        <ion-col size="6">
          <ion-button color="dark" expand="block" fill="outline" (click)="continuarApp()">Continuar</ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
